@import "_basis";


h1 {
    font-size: 2.5rem;
    font-weight: 700;
    font-family: 'Plex Mono';
    line-height: 1.2;
    letter-spacing: 0.05em;
}

h2 {
    font-size: 1.5rem;
}

a {
    color: $c_main;
}

mark {
background-color: $c_highlight;
}

html {
    font-family: 'Inter', sans-serif; 
	background-color: $c_background;
}

#page-wrap {
    max-width: 800px;
    padding: 20px;
    margin: 0 auto;
    line-height: 1.5;
}

nav {
    padding: 10px 0 10px 0;
    display: flex;
    justify-content: space-between;
}

main {



}

.header {
    margin: 20px 0 20px 0;
    h1 {
        margin-bottom: 40px;
    }
}

section {
    padding: 40px 0 40px 0;
}

.header {
}

.project-item {
    background: #fff;
    margin-bottom: 20px; 
}

footer {
    position: absolute;
    bottom: 0;
    padding-bottom: 7px;
    font-size: .75rem;
}

