<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ block "title" . }} {{ .Site.Title }} {{ end }}</title>

  	{{ $options := (dict "targetPath" "style.css" "outputStyle" "compressed" ) }}
{{ $style := resources.Get "scss/style.scss" | resources.ToCSS $options | resources.Fingerprint }}
    <link rel="stylesheet" href="{{ $style.Permalink }}" integrity="{{ $style.Data.Integrity }}">

    <meta name="robots" content="noindex,nofollow,noarchive">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
     <nav>
         <div id="logo-wrap">
			 <a href="{{ relLangURL "" }}">
             <div id="logo-anim">ü</div>
             <div id="logo">ÜBERNEU</div>
			 </a>
         </div>
         <div id="language-menu">
			 {{ if .Site.IsMultiLingual }}
				 {{ range .Site.Languages }}
					 {{ if eq . $.Site.Language }}
					 <span class="current-language"> {{ .LanguageName }} </span>
					 {{ else }}
					 {{ range $.Translations }}
					 <span class="language"><a href="{{ .Permalink }}">{{ .Language.LanguageName }}</a></span>
					 {{ end }}
					 {{ end }}
				 {{ end }}
		 {{ end }}

         </div>
    </nav>

    {{ block "main" . }} {{ end }}

      {{ block "footer" . }}
          <footer> 2024 · ÜBERNEU · Ein Projekt der Markenliebhaber GmbH · <a href="/impressum">Impressum</a>
          · <a href="/datenschutz"> Datenschutz </a>
          </footer>
      {{ end }}
  </body>
</html>
